<!DOCTYPE html>

<!--

    thanks, <3
    code based off live github repos: https://github.com/seth-hayward/selfies.io

    contact seth.hayward@gmail.com with any security issues.

    -->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>authie</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("/favicon.ico")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/site.css")" />
</head>
<body>

    <div id="container">

        <div id="header">

            <div id="logo">
                <a href="@Url.Content("~/")"><img src="@Url.Content("~/Images/logo.png")" alt="authie" /></a>
            </div>

            <div id="login">
                @Html.Partial("_NavPartial")
            </div>

            <div style="clear: both"></div>
        </div>

        <div id="body">
            @RenderBody()
        </div>

        <div id="footer">
            <small>a project by <a href="http://www.twitter.com/fake_train" target="_blank">@@fake_train</a> <a href="http://www.twitter.com/Jeevesmeister" target="_blank">@@Jeevesmeister</a> & <a href="http://selfies.io/seth">@@seth_hayward</a> <3<3 </small>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
