<ul>
@if(Request.IsAuthenticated) {

    if (ViewBag.handle != null)
    {

        <text>
            <li><a href="@Url.Content("~/send")">send</a></li>
            <li><a href="@Url.Content("~/contacts")">contacts</a></li>
            <li><a href="@Url.Content("~/daily")">the daily</a></li>
            <li><a href="@Url.Content("~/" + ViewBag.handle.name )">@ViewBag.handle.name</a></li>
        </text>        
        
    }

}
else {
    <text>
        <li><a href="@Url.Content("~/login")">login</a></li>
        <li>@Html.ActionLink("register", "Register", "Home")</li>
        <li><a href="@Url.Content("~/daily")">the daily</a></li>
        <li><a href="@Url.Content("~/what")">what?</a></li>
    </text>
}
</ul>
