@model selfies.Models.thread

<div class="snapHolder" id="snap-@Model.groupKey">

    <p class="snapNavLeft">

        @if(Model.toHandleId.Equals(1)) {
            <text>profile snap<br /></text>
        } else {
            <text>to @Model.toHandle.name, from @Model.fromHandle.name <br /></text>           
        }
        <b>@Model.caption</b>

    </p>

    <p>
    </p>

    <p class="snapNavRight">

        <abbr class="timeago" title="@Model.startDate.Value.ToString("s")Z"></abbr>

        @if (ViewBag.handle != null && (Model.fromHandle.publicKey == ViewBag.handle.publicKey || Model.toHandle.publicKey == ViewBag.handle.publicKey))
        {
            <a id="@Model.groupKey" class="remover" href="#">Remove</a>            
        }
    </p>
    <a href="@Url.Content("~/api/snap/orig/" + Model.groupKey)"><img src="@Url.Content("~/api/snap/500/" + Model.groupKey)" /></a>
    
</div>

