@{
    ViewBag.Title = "Daily";
}

<p><u>The Daily</u></p>


<div id="dailyThreads" data-bind="foreach: dailyThread" style="display: none">

    <div class="snapHolder" data-bind="attr: { id: 'd' + groupKey } ">
        <p class="snapNavLeft">
            from <span data-bind="text: fromHandle.name"></span><br />
            <span data-bind="text: caption"></span>            
        </p>

        <p class="snapNavRight" data-bind="click: $parent.giveLove">
            <a href="#"><span data-bind="text: hearts, attr: { id: groupKey }"></span></a> <img src="@Url.Content("~/Images/heart.png")" />
        </p>

        <img data-bind="attr: { src: imageUrl }" />

    </div>


    <span data-bind="attr: { id: 'r' + groupKey } "><a href="#" data-bind="    click: $parent.report">Report</a></span>

</div>


@section Scripts {
<script type="text/javascript">

    function DailyViewModel() {
        var self = this;

        self.dailyThread = ko.observableArray([]);

        self.report = function (item) {

            var voter = $.post("@Url.Content("~/api/report")", item);
            voter.done(function (data) {
                $("#d" + item.groupKey).fadeOut();
                $("#r" + item.groupKey).html("Thank you. This post has been reported.");
            })


        }

        self.giveLove = function (item) {

            var voter = $.post("@Url.Content("~/api/heart")", item );
            voter.done(function (data) {
                $("#" + item.groupKey).html(data);
            })

        }

        self.loadDaily = function () {

            $.get("@Url.Content("~/api/daily")", function (data, status) {

                if (data.length > 0) {

                    $.each(data, function (i, item) {
                        item.imageUrl = "@Url.Content("~/api/snap/500/")" + item.groupKey;
                        self.dailyThread.push(item);
                    });

                    $("#dailyThreads").fadeIn('fast');

                } else {
                    $("daily").html("No daily threads found :(");
                }

            });


        }

        // init load
        self.loadDaily();

    }

    ko.applyBindings(new DailyViewModel());

</script>
}