@model List<selfies.Models.thread>

@{
    ViewBag.Title = "chillfeed";
}

<p class="profileLeft">
    <b>@ViewBag.selectedHandle.name</b> <br />
    <span id="edit_tagline" @if (ViewBag.addEdit == true) { @Html.Raw("class='edit'"); }>@ViewBag.selectedHandle.tagLine</span>
</p>


    @if (Model.Count == 0)
    {
        <p style="clear: both">no public history of chill yet, that's cool</p>
    }
    else
    {
        foreach (selfies.Models.thread t in Model)
        {
            @Html.Partial("_Snap", t)
        }
    }


@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {

        $('.edit').editable(function(value, settings) {
            $.post('@Url.Content("~/api/tagline")', { '': value });
            return (value);
        }, {
            indicator: 'Saving...',
            tooltip: 'click here to add a tagline',
            submit: 'edit'
            });
    });
</script>
}
