@using selfies.Models

@if (User.Identity.IsAuthenticated)
{

    <text>
        <p>
            threads
        </p>
        <ul>
            @if (ViewBag.threads.Count == 0)
            {
                <text><li>no threads yet, <a href="@Url.Content("~/send")">send one</a></li></text>
            }
            else                
            {
                foreach (thread thready in ViewBag.threads)
                {
                    <text><li><a href="@Url.Content("threads/" + thready.groupKey.Substring(0, 8))">@thready.startDate - from @thready.fromHandle.name to @thready.toHandle.name</a></li></text>
                }                                
            }
        </ul>
    </text>
            
} else {
 
    <text>

    <p>hey. authie is an easy way to send disappearing snaps and messages with your friends.</p>

    <ul>
        <li>no email required (or FB)</li>
        <li>iOS only</li>
    </ul>

    <p>just <a href="#">download</a> us on the appstore...</p>

    </text>   
}

