@using selfies.Models

@if (User.Identity.IsAuthenticated)
{

    <text>

        <ul class="inbox">
            @if (ViewBag.threads.Count == 0)
            {
                <text><li>no threads yet, <a href="@Url.Content("~/send")">send one</a></li></text>
            } 

            @if (ViewBag.threads.Count > 0)
            {
                foreach (thread thready in ViewBag.threads)
                {
                    
                <text>
                    <li id="li-@thready.groupKey">
                            <div class="inboxImage">
                                @if(thready.authorizeRequest.Equals(1)) {
                                    <img src="@Url.Content("~/Images/lock.png")" />
                                } else {
                                    <img src="@Url.Content("~/api/snap/thumb/" + thready.groupKey)" />                                    
                                }
                            </div>

                            <div class="inboxText">
                                <a href="@Url.Content("~/threads/" + thready.groupKey)"> from: @thready.fromHandle.name, to @thready.toHandle.name</a> <br />
                                <abbr class="timeago" title="@thready.startDate.Value.ToString("s")Z"></abbr>
                            </div>

                            <div class="inboxControls">

                                @if (ViewBag.handle != null && (thready.fromHandle.publicKey == ViewBag.handle.publicKey || thready.toHandle.publicKey == ViewBag.handle.publicKey))
                                {
                                    <a id="@thready.groupKey" class="remover" href="#">Remove</a>            
                                }

                            </div>

                    </li>
                </text>
                }
            }

        </ul>

    </text>
            
}
else
{
 
    <text>

    <div id="welcome">

        <p>hey.
            </p>

        <p>authie is a photosharing app based on permissions.
        </p>

        <p>we're a 'dark' social network, meaning we purposely do not connect with other
            social networks. we're all about privacy and easy sharing with people you want
            to share with.
            </p>

        <p>
            on authie, you can:
        </p>
        <ul>
            <li>send snaps directly to people</li>
            <li>develop your 'dark profile', a photostream that only your friends can see </li>
            <li>read and participate in the daily, a photo stream of responses to a daily prompt</li>            
        </ul>

        <p>just <a href="#">download</a> us on the appstore...</p>


    </div>

    </text>   
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("a.remover").click(function () {
            var currentId = $(this).attr('id');
            $("#li-" + currentId).fadeOut();

            $.ajax({
                url: "@Url.Content("~/api/thread")",
                data: { '': currentId },
                type: 'DELETE',
                success: function (result) {
                    // Do something with the result
                }
            });

        });
    });
</script>
}